<ion-content no-padding no-margin>
    <div class="bg">
        <div class="qnr-text-position">
            <h1>Competency Evaluation in GROW</h1>
            <p>
                (This is description of questionnaire)
                Each competency was selected from hundreds of competencies and skills reported in the social sciences
                literature on the basis of several criteria: 1) representation across different countries and cultures;
                2) correlation to success in relevant job functions (as verified by executive search firms); and 3)
                assessable by peers. The winnowing down of competencies was done by Dr. Mitsuru Kimura of the
                University of Tokyo. An excerpt of each competency, translated from Japanese, follows:
            </p>
            <span (click)="goQuestionPage()">
                <p>Start</p>
                <fa-icon [icon]="faArrowRight" size="2x"></fa-icon>
            </span>

            <!-- <button mat-flat-button (click)="goQuestionPage()">Start</button> -->
        </div>
    </div>
</ion-content>