<ion-content no-padding>
    <ion-slides no-padding pager="true">
        <ion-slide no-padding>
            <div class='sl-bg'>
                <img class='logo' src="assets/image/logo-b-w-grow.png">
            </div>
        </ion-slide>
        <ion-slide>
            <div class='sl-bg'>
                <img class='logo' src="assets/image/logo-b-w-grow.png">
            </div>
        </ion-slide>
        <ion-slide>
            <div class='sl-bg'>
                <img class='logo' src="assets/image/logo-b-w-grow.png">
                <button class="btn-start" mat-flat-button (click)="goLoginPage()">Get Started</button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>